
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centered-at-nucleo {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.container{
  margin-top: 10px;
  background-color: brown;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  a{
    color: white;
    font-size: 14px;
  }
  
}
